
.contact_form #contact > div {
    margin: 10px 0 15px 10px; width: 450px;
}


.contact_form input {
    float: right;
}


.contact_form textarea {
    float: right;
}

.new_footer {
    height: 30px;
}

.new {
    width: 70%; height: 100%; margin-left: 15%; margin-right: 15%; margin-top: 50px;
}

.date_created {
    float: right;
}

.create_new {
    width: 70%; height: 100%; margin-left: 15%; margin-right: 15%; margin-top: 50px;
}
