{% extends '::base.html.twig' %}

{% block body %}
    <h1>Contact us:</h1>

    <div class="contact_form">
        <form method="post">
            {{ form(form) }}
        </form>
    </div>

{% endblock %}
